@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-contact {
  margin: 0 2rem;
  padding: 1rem 0;

  @include tablet-viewport {
    display: flex;
  }

  &__title {
    @include h4-type-table-header;
    padding-bottom: $pad-small-4;
  }

  &__address {
    margin-bottom: 2.25rem;

    @include tablet-viewport {
      border-right: $divider-anywhere;
      margin-right: 1rem;
      padding-right: 10rem;

      &-tab {
        display: flex;
        flex-wrap: wrap;
        width: 9rem;
      }
    }

    @include desktop-viewport {
      padding-right: 20rem;
    }
  }

  &__contact {
    display: flex;
    gap: 2rem;

    @include tablet-viewport {
      padding-left: 1rem;
      gap: 3rem;
    }

    @include desktop-viewport {
      gap: 8rem;
      padding-left: 3rem;
    }
  }
}
