@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.warehouse {

	&__columns {
		display: none;

		@include tablet-viewport {
			background-color: $light-grey;
			display: flex;
			align-items: baseline;
			padding: 0.75rem 2rem;
			justify-content: space-between;

			>h4 {
				@include h4-type-table-header;
				margin: 0;
				display: inline-flex;
				align-items: center;

				>img {
					width: 1rem;
				}
			}
		}
	}
}
