@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.warehouse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  @include divider-bottom;

  &__title-container {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
  }

  &__title {
    margin-left: 1rem;
    @include h1-type-page-header;
  }

  &__edit {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $instock-indigo;
    border-radius: 50%;
    padding: 0.45rem;
    margin-right: 1.5rem;

    @include tablet-viewport {
      width: 6rem;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__edit-tab {
    @include tablet-viewport {
      color: white;
    }
    @media screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
  }
}
a {
  text-decoration: none;
}
