@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.warehouse {
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 0.1875rem;
  margin: 0 1rem;
}
.warehouse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  @include divider-bottom;

  &__title-container {
    display: flex;
    margin-left: 1.5rem;
  }

  &__title {
    margin-left: 1rem;
    @include h1-type-page-header;
  }

  &__edit {
    width: 2.5rem;
    height: 2.5rem;
    background-color: $instock-indigo;
    border-radius: 50%;
    padding: 0.45rem;
    margin-right: 1.5rem;
  }
}

.warehouse-details {
  margin: 0 2rem;
  padding: 1rem 0;

  @include tablet-viewport {
    display: flex;
  }

  &__title {
    @include h4-type-table-header;
    padding-bottom: $pad-small-4;
  }

  &__address {
    margin-bottom: 2.25rem;

    @include tablet-viewport {
      border-right: $divider-anywhere;
      margin-right: 1rem;
      padding-right: 10rem;

      &-tab {
        display: flex;
        flex-wrap: wrap;
        width: 9rem;
      }
    }

    @include desktop-viewport {
      padding-right: 20rem;
    }
  }

  &__contact {
    display: flex;
    gap: 2rem;

    @include tablet-viewport {
      padding-left: 1rem;
      gap: 3rem;
    }

    @include desktop-viewport {
      gap: 8rem;
      padding-left: 3rem;
    }
  }
}
