@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.warehouse {

	min-width: 21.5rem;
	margin: 1.5rem 1rem;
	background-color: $white;
	border-radius: .1875rem;
	box-shadow: 0rem .125rem .3125rem rgba(19, 24, 44, 0.1);

	@include tablet-viewport {
		max-width: 44rem;

		margin: 0 auto;
	}


	@include desktop-viewport {
		max-width: 64rem;
	}
}
