@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.input {
    display: flex;
    flex-direction: column;
    font-size: .8125rem;
    font-weight: 600;
    color: $instock-black;
    margin-top: 1.5rem;

        @include tablet-viewport {
            font-size: $t-p2-size;
        }

    &__box {
        @include secondary-button-style;
        padding-left: $pad-med-16;
        height: 2.25rem;
        margin-top: .25rem;
        font-size: .8125rem;
        font-weight: 400;

        @include tablet-viewport {
            width: 100%;
            font-size: $t-p2-size;
            font-weight: 400;
        }
    }
}