@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.inventory {

	&__row {
		@include divider-bottom;
		padding-bottom: 1rem;
		display: flex;
		flex-direction: column;
		@include tablet-viewport {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		padding: $pad-med-16;
		@include divider-bottom;
		}
	}

	&__set {
		display: flex;
		flex-direction: row;
		gap: 5rem;
	}

	&__holder {
		padding-bottom: 1rem;
		overflow-wrap: anywhere;
	}

	.__container {
		@include tablet-viewport {
			display: flex;
			flex-direction: row;
		}
	}

	&__title {
		color: $slate;
		text-transform: uppercase;
		@include tablet-viewport {
			display: none;
		}
	}

	&__item {
		display: flex;
		flex-direction: row;
		@include text-link-style;
		@include tablet-viewport {

		>h4 {
			@include h4-type-table-header;
			color: $slate;
			font-weight: 600;

			@include tablet-viewport {
				display: none;
			}
		}

		>p {
			display: flex;
			flex-direction: row;
			gap: .25rem;
			@include text-link-style;

			>img {
				width: 1.25rem;
			}

		}
	}
	}

	&__category {
		@include tablet-viewport {
		display: flex;
		flex-direction: column;

		>h4 {
			@include h4-type-table-header;
			color: $slate;
			font-weight: 600;

			@include tablet-viewport {
				display: none;
			}
		}

		>p {
			@include p2-type-body-medium;
		}
	}
	}

	&__status {
		@include tablet-viewport {
	}
}

	&__qty {
		@include tablet-viewport {

		>h4 {
			@include h4-type-table-header;
			color: $slate;
			font-weight: 600;

			@include tablet-viewport {
				display: none;
			}
		}

		>p {
			@include p2-type-body-medium;
		}
	}
	}

	&__actions {
		display: flex;
		justify-content: space-between;
		@include tablet-viewport{

		gap: 1rem;
	}
}
}
