@use "../../styles/partials/globals" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

/* stylesheet://localhost/style#91970.1672 */


.header {
  background: #232940;
  padding-bottom: 5.5rem;
  margin-bottom: -5.5rem;

  @include tablet-viewport {
    padding-bottom: 6rem;
    margin-bottom: -6rem;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem 0 1rem;
    gap: 1rem;

    @include tablet-viewport {
      flex-direction: row;
      justify-content: space-between;
      padding: 2rem 0;
      max-width: 44rem;
      margin: 0 auto;
    }

    @include desktop-viewport {
      max-width: 64rem;
    }
  }

  &__logo {

    height: 2rem;

    @include tablet-viewport {}

    @include desktop-viewport {
      // margin-left: 7rem;
    }
  }

  &__nav {
    display: inline-flex;
    width: 100%;


    @include tablet-viewport {
      width: auto;
    }

    @include desktop-viewport {}
  }

  &__active {
    @include active-nav-link-style;
    width: inherit;

  }

  &__inactive {
    @include inactive-nav-link-style;
    width: inherit;
  }
}





// .Header__items {
//   color: #bdc5d5;
//   list-style: none;
//   margin-bottom: 1rem;
//   margin-top: 1rem;
//   cursor: pointer;

//   &:hover {
//     text-decoration: underline;
//   }

//   &--active {
//     @extend .Header__items;
//     color: white;
//     background: black;
//     border: solid black;
//     border-radius: 50px;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     padding-top: 0.5rem;
//     padding-bottom: 0.5rem;
//   }
// }

// .Header__link {
//   text-decoration: none;
// }
