@use '../../styles/partials/globals' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;


.warehouse {

	min-width: 21.5rem;
	margin: $pad-large-24;
	padding: $pad-large-24;
	background-color: $white;
	border-radius: .1875rem;
	box-shadow: 0rem .125rem .3125rem rgba(19, 24, 44, 0.1);

	@include tablet-viewport {
		// min-width: 22rem;
		max-width: 50rem;
		padding-right: 2rem;
		padding-left: 2rem;
		margin: 0 auto;
		// margin: 0 12rem;
	}


	@include desktop-viewport {
		margin: 0 auto;
		max-width: 64rem;
	}
}

// &__list {
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	margin: 1rem;
// 	width: 90%;

// 	@include tablet-viewport {
// 		margin: 2rem;
// 	}

// 	@include desktop-viewport {
// 		margin: 0 auto;
// 		padding: 2rem;
// 		max-width: 64rem;
// 	}
