@use './styles/partials/globals' as *;
@use './styles/partials/typography' as *;
@use './styles/partials/variables' as *;
@use './styles/partials/mixins' as *;

body {
	margin: $t-margin;
}

h1 {
	@include h1-type-page-header;
	padding-bottom: $pad-med-16;
}

h2 {
	@include h2-type-sub-header;
	padding-bottom: $pad-med-16;
}

h3 {
	@include h3-type-label-link-button;
	padding-bottom: $pad-med-16;
}

h4 {
	@include h4-type-table-header;
	padding-bottom: $pad-med-16;
}

.p1 {
	@include p1-type-body-large;
	padding-bottom: $pad-med-16;
}

.p2 {
	@include p2-type-body-medium;
	padding-bottom: $pad-med-16;
}

.p3 {
	@include p3-type-body-small;
	padding-bottom: $pad-med-16;
}

.primary-button {
	@include primary-button-style;
	margin-bottom: $pad-med-16;
}

.secondary-button {
	@include secondary-button-style;
	margin-bottom: $pad-med-16;

}

.delete-button {
	@include delete-button-style;
	margin-bottom: $pad-med-16;
}

.tag-in {
	@include tag-in-style;
	margin-bottom: $pad-med-16;
}

.tag-out {
	@include tag-out-style;
	margin-bottom: $pad-med-16;
}

.text-link {
	@include text-link-style;
	margin-bottom: $pad-med-16;
}

.inactive-nav {
	@include inactive-nav-link-style;
	background-color: $graphite;
	margin: $pad-med-16 0;
}

.active-nav {
	@include active-nav-link-style;
	margin: $pad-med-16 0;
}
