@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.add-inv {
    border-radius: .1875rem;
    margin: 0 1rem;
    box-shadow: 0rem .125rem .3125rem rgba(19, 24, 44, 0.1);

        @include tablet-viewport {
            margin: 0 2rem;
        }

        @include desktop-viewport {
            width: 75rem;
            margin: auto;
        }

    &__header-ctr {
        display: flex;
        justify-content: center;
        padding: 2rem 1.25rem 1.5rem;
        @include divider-bottom;

            @include tablet-viewport {
                justify-content: flex-start;
                padding-left: 2rem;
                @include divider-bottom;
            }

            @include desktop-viewport {
                padding-left: 2.25rem;
            }
    }

    &__details-ctr {

        @include tablet-viewport {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__header {
        margin: 0;
        padding: 0 .9375rem 0 .3125rem;
        font-size: $m-h1-size;

            @include tablet-viewport {
                font-size: $t-h1-size; 
                padding-left: .625rem                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ;
            }
    }

    &__subheader {
        margin-top: 1rem;
        font-size: 1.25rem;

            @include tablet-viewport {
                font-size: $t-h2-size; 
                margin-top: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ;
            }
    }

    &__input {

        &--invalid {
            border: 1px solid $red;
        }
    }

    &__location-ctr {
        @include divider-bottom;
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;

            @include tablet-viewport {
                width: 50%;
                border-bottom: none;
                @include divider-right;
                margin-top: 1.5rem;
                padding-bottom: .3125rem;
                margin-bottom: 1.6875rem;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @include desktop-viewport {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
    }

    &__contact-ctr {
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;

            @include tablet-viewport {
                width: 50%;
                margin-top: 1.5rem;
                padding-bottom: 0;
                padding-left: 2rem;
                padding-right: 2rem;
            }

            @include desktop-viewport {
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
    }

    &__buttons-ctr {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        background-color: $light-grey;
        gap: 1rem;

            @include tablet-viewport {
                justify-content: flex-end;
            }
    }

    &__quantity {

        @include desktop-viewport {
            width: 110px;
        }
    }
}